<footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-text">
              <div class="logo-footer">
                <a href="index"><img class="img-responsive" src="assets/images/sustain-white-icon-footer.svg" style="width:50px;margin-bottom:10px;"></a>
              </div>
              <p>It all started with a tweet in November 2016. Six months later, one hundred people gathered in San Francisco and created a cultural shift in how we think about the sustainability of open source software. <a href="#" style="color:#ffffff;font-weight:500">Learn more...</a></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-text widget-links">
              <h5 class="widget-title">Join The Newsletter</h5>
              <form name="subscribe" id="subscribe" action="" method="POST" class="contact-form-style-02">
                <div class="form-group mt-20 mb-0">
                  <label class="sr-only" for="name">Name</label>
                  <input type="email" name="email" class="md-input style-02" id="email-2" placeholder="you@domain.com" required data-error="Your Name is Required">
                </div>
                <div class="text-left mt-10">
                  <button type="submit" name="submit" class="btn btn-lg btn-color btn-square remove-margin">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-links xs-mt-20 xs-mb-20 sm-mt-20 sm-mb-20">
              <h5 class="widget-title">Quick Links</h5>
              <ul>
                <li><a href="https://discourse.sustainoss.org/">Forum</a></li>
                <li><a href="/sustainoss/event#sponsors">Sponsors</a></li>
                <li><a href="/sustainoss/about">About</a></li>
                <li><a href="/sustainoss/definition">Definition</a></li>
                <li><a href="#">Code of Conduct</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-links xs-mt-20 xs-mb-20 sm-mt-20 sm-mb-20">
              <h5 class="widget-title">Quick Links</h5>
              <ul>
                <li><a href="/sustainoss/diversity">Diversity</a></li>
                <li><a href="#">Privacy.</a></li>
                <li><a href="#">Sitemap.</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="/sustainoss/event">Event</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right text-center">&copy; 2016-2019 SustainOSS.org - Unless otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" style="color:#ffffff;font-weight:500">CC-BY-SA 4.0 License</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
